.obrub {
    width: 500px;
    height: 300px;
    border: 7px solid black;
    background-color: lightgray;
    position: relative;
}
.slika1 {
    width: 170px;
    height: 150px;
    position: absolute;
    top: 26px;
    left: 17px;
}
.ime{
 padding-left: 270px;
 padding-top: 40px;
 font-size: 25px;
 font-family: sans-serif;
 position: absolute;
}
.opis{
    padding-left: 200px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(12, 10, 10);
    padding-top: 60px;
}
.mail{
    position: absolute;
    bottom: 115px;
    left: 200px;
    font-size: 16px;
    font-family: sans-serif;

    
}
.telefon{
    position: absolute;
    bottom: 100px;
    left: 200px;
    font-size: 16px;
    font-family: sans-serif;
    
}
.instagram{
    position: absolute;
    bottom: 20px;
    left: 200px;
    font-size: 17px;
    font-family:serif;
    
}
.facebook{
    position: absolute;
    bottom: 20px;
    left: 325px;
    font-size: 17px;
    font-family: serif;
    
}